@import "bootstrap";
@import "bootstrap-icons";

:root {
    --sdxam-client-rgb: 13, 204, 242;
    --sdxam-supervisor-rgb: 255, 193, 5;
    --sdxam-selected-rgb: 32, 203, 152;
}

html {
    height: 100%;

    body,
    #app {
        height: inherit;
    }
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.bg-client {
    background-color: rgba(var(--sdxam-client-rgb), 0.3) !important;
}

.bg-supervisor {
    background-color: rgba(var(--sdxam-supervisor-rgb), 0.3) !important;
}

.navbar .nav-item .nav-link {
    text-align: left;

    @media (min-width: 768px) {
        text-align: center;
    }
}

.icon {
    width: 1rem;
    text-align: center;
}

table .table-shrink-col {
    width: 1%;
    white-space: nowrap;
}

.table-card,
.table-padded {
    padding: 0.25rem;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-sm) !important;
    background-color: var(--bs-gray-100);

    table {
        margin-bottom: 0;

        tr {
            vertical-align: middle;
            border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }

    * * {
        border: none;
    }
}

.table-padded table tr th,
.table-padded table tr td {
    padding: 0.25rem 1rem;
}

[data-bs-theme="dark"] .table-card,
[data-bs-theme="dark"] .table-padded {
    background-color: var(--bs-gray-800);
}

table td {
    &.bg-ready {
        background-color: rgba(var(--sdxam-selected-rgb), 0.25);
    }

    &.bg-failed {
        background-color: rgba(var(--bs-danger-rgb), 0.25);
    }
}

.table-score-show .score-cell {
    padding: 0;
    height: 100%;

    label {
        display: inline-block;
        width: 100%;
        min-height: 100%;
        padding: 0.25rem;
        cursor: pointer;

        &:has(input[type="radio"]:checked) {
            background-color: rgba(var(--sdxam-selected-rgb), 0.9);
        }

        &:has(input[type="radio"]:not(:checked)) {
            &.both {
                background-image: linear-gradient(
                    to right,
                    rgba(var(--sdxam-client-rgb), 0.5) 0%,
                    rgba(var(--sdxam-supervisor-rgb), 0.5) 100%
                );
            }

            &.client {
                background-color: rgba(var(--sdxam-client-rgb), 0.2);
            }

            &.supervisor {
                background-color: rgba(var(--sdxam-supervisor-rgb), 0.2);
            }
        }
    }
}
